/* ------------ DESKTOP --------------  */

.mobile-menu-wrapper {
  background-color: black;
  bottom: 0;
  color: #0171ff;
  display: none;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

/* ------------ MOBILE --------------  */

@media (max-width: 500px) {
  .mobile-menu-wrapper {
    display: block;
  }
}
