/*  ------------ TOP SECTION -------------- */
.deck-page-wrapper .top-section {
  flex-direction: column;
}

.top-section .deck-description {
  display: flex;
}

.top-section .deck-description .text {
  font-size: 14px;
  line-height: 32px;
  width: 87%;
}

/* ------------ BOTTOM SECTION ------------ */

/* ------------ MOVE HERE BUTTON ------------ */ 
.bottom-section .move-here-btn {
  background: none;
  border: 2px dotted #0171ff;
  margin-bottom: 5px;
  width: 100%;
}

.bottom-section .move-here-btn:hover {
  border-color: #68a9fd;
}


/* ------------ MOBILE --------------  */

@media (max-width: 500px) {
  /* ------------ BOTTOM SECTION --------------  */

  .deck-page-wrapper .bottom-section {
    margin-bottom: 100px;
  }
}
