.import-page-wrapper {
  padding: 0 40px 40px 40px;
}

.import-page-wrapper img {
  width: 100%;
}

.message,
.error,
.success {
  font-size: 2em;
  margin-bottom: 40px;
}

.message {
  max-width: 400px;
}

.example {
  max-width: 400px;
}