/* ------------ UTILS --------------  */

.margin-right-medium {
  margin-right: 10px;
}

.margin-top-medium {
  margin-top: 10px;
}

.margin-top-small {
  margin-top: 5px;
}

.wrap {
  flex-wrap: wrap;
}

/* ------------ BUTTONS GROUP --------------  */

.buttons-group {
  align-items: flex-start;
  display: flex;
}

.buttons-group.direction-column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

@media (max-width: 500px) {
  .buttons-group {
    display: none;
  }

  .display-flex {
    display: flex;
  }

  .mobile-hidden {
    display: none;
  }
}
