.wrapper {
  flex: 1;
  /* background-color: #7e57f2; */
}

.card {
  font-size: 3em;
  padding: 0;
  position: relative;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.qa-wrapper {
  flex-direction: 1;
  padding: 20px;
  background-color: #131c39;
  margin-top: 20px;
  max-height: 600px;
}

.question {
  margin-bottom: 60px;
  text-align: center;
}

.answer {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
  text-align: center;
}

.last-seen {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  border: none;
  font-size: 20px;
  min-width: 5em;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid;
  color: white;
  background-color: transparent;
}

.level {
  text-transform: uppercase;
  font-weight: bolder;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 300px) {
  .buttons {
    flex-direction: column;
    width: auto;
  }
  .buttons button {
    margin-bottom: 10px;
  }
}
