.card {
  margin-top: 20px;
  font-size: 2em;
  border: solid 2px grey;
  border-radius: 20px;
  padding: 20px;
  height: 55vh;
  position: relative;
}

.question {
  margin-bottom: 20px;
  text-align: center;
}

.answer {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.last-seen {
  margin-bottom: 20px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  width: 200px;
  justify-content: left;
  position: absolute;
  bottom: 10px;
}

.buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.level {
  text-transform: uppercase;
  font-weight: bolder;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 300px) {
  .buttons {
    flex-direction: column;
    width: auto;
  }
  .buttons button {
    margin-bottom: 10px;
  }
}
