.filters {
  font-size: 2em;
}

.today {
  margin-bottom: 5px;
}

.level {
  margin-bottom: 10px;
  display: flex;
}

.level div {
  margin-right: 10px;
}

.margin-bottom-small {
  margin-bottom: 5px;
}
