.show {
  display: block;
}

.hide {
  display: none;
}

.labels-wrapper {
  height: 100px;
  overflow: auto;
}

.labels-container {
  background-color: red;
  width: 200px;
}

.labels-wrapper label {
  display: flex;
  align-items: baseline;
}

.labels-wrapper input {
  margin-bottom: 10px;
}
