/* NAVBAR */

.nav-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #002657;
  border-radius: 10px;
  color: #fff;
  padding: 1em;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 1;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-size: 1em;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #cdcdcd;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.logo {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .nav-wrapper {
    border-radius: 0;
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    border-right: none;
    border-left: none;
    height: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #0b121c;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    height: 2px;
    width: 18px;
  }

  .menu-button::before {
    margin-top: -6px;
  }

  .menu-button::after {
    margin-top: 6px;
  }

  .logo {
    font-size: 14px;
  }
}

.nav-wrapper.xs {
  font-size: 10px;
}

.nav-wrapper.s {
  font-size: 12px;
}

.nav-wrapper.m {
  font-size: 14px;
}

.nav-wrapper.l {
  font-size: 16px;
}

.nav-wrapper.xl {
  font-size: 18px;
}

@media screen and (max-width: 450px) {
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    height: 3px;
    width: 20px;
  }

  .menu-button::before {
    margin-top: -6px;
  }

  .menu-button::after {
    margin-top: 6px;
  }
}

.logo {
  text-transform: uppercase;
}


