/* ------------ DESKTOP --------------  */

.statistics-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.statistics-wrapper .description {
  color: #696c76;
  font-size: 1em;
  margin-right: 40px;
}

.statistics-wrapper .value {
  color: #da9191;
  font-size: 1em;
}

/* ------------ MOBILE --------------  */

@media (max-width: 500px) {
  .statistics-wrapper .description {
    font-size: 1em;
    margin-right: 5px;
  }

  .statistics-wrapper .value {
    font-size: 1em;
  }
}
