html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Add dark theme */
body {
  background-color: black;
  color: #fff;
  font-size: 10px;
  margin: 0 auto;
  max-width: 800px;
}

button:hover {
  /* background-color: red; */
}

button:active {
  /* background-color: blue; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* ------------ COMMONS --------------  */

@media (max-width: 500px) {
  .mobile-margin-exterior {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* ------------ PAGE WRAPPER --------------  */

.page-wrapper {
  margin-left: 40px;
  margin-right: 40px;
}

.page-wrapper.xs {
  font-size: 10px;
}

.page-wrapper.s {
  font-size: 12px;
}

.page-wrapper.m {
  font-size: 14px;
}

.page-wrapper.l {
  font-size: 16px;
}

.page-wrapper.xl {
  font-size: 18px;
}

@media (max-width: 500px) {
  .page-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

/* ------------ TOP SECTION --------------  */
.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: auto;
}

@media (max-width: 500px) {
  .top-section {
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .bottom-section {
    height: auto;
    margin-bottom: 50px;
    position: relative;
  }
}

/* ------------ MOBILE BOTTOM MENU --------------  */

.bottom-menu {
  display: none;
}
